@charset "utf-8";
/* CSS Document */
#page
{
	margin: auto;
	width: 900px;
	background-color: #999;
	border: 4px solid #999;
}
#h3
{
	font-family: "Chardons 2", "Bradley Hand ITC", Broadway, Calibri, "Century Gothic", "Charlemagne Std";
}
footer
{
	background-color: #0CC;
	border-radius: 10px;
}
footer #pied
{
	margin: auto;
	background-color: #00CCFF;
	width: 900px;
	height: 70px;
	border-radius: 10px;
}
footer #piedcou
{
	margin: auto;
	background-color: #00CCFF;
	position: relative;
	margin-top: 300px;
	width: 900px;
	border-radius: 10px;
	height: 70px
}
footer #menu
{
	margin-left: 75px;
}
#banleft
{
	float: left;
	background-color: #0CC;
	border-radius: 10px;
	margin-left: 5px;
	padding: 20px;
	width: 150px;
	height: 240px;
	margin-top: 40px;
}
footer #menu li
{
	border-left: 3px solid #F00;
}
#logo
{
	 margin: auto;
	 top: 0;
	 /* centrer le tableau dans lequel se trouve les logos*/
	 text-align:center;
}
#menu, #menu ul /* Liste */  
   {      
     padding: 0; /* pas de marge intérieure */    
	 margin : 0; /* ni extérieure */       
     list-style : none; /* on supprime le style par défaut de la liste */       
	 line-height : 23px; /* on définit une hauteur pour chaque élément */        
	 text-align : center; /* on centre le texte qui se trouve dans la liste */ 
	 line-weight : 30px; /* pour allonger les cellules*/
   }
   
   
   
#menu /* Ensemble du menu */ 
   {
	/* font-weight : italic/*on met le texte en italique    */  
     font-weight : bold; /* on met le texte en gras */
	font-family : "Arial Black", Gadget, sans-serif; /* on utilise Arial, c'est plus beau ^^ */
	font-size : 14px; /* hauteur du texte : 12 pixels */
	color: #00CCFF;
   }
#menu a /* Contenu des listes */
  {
	display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
	padding : 0; /* couleur de fond */
	color: #00CCFF ; /* couleur du texte bleu */	
	text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
	width : 200px; /* largeur */
  }
   

#menu li /* Elements des listes */    
  {         
     float : left;         /* pour Internet Exploreur qui ne reconnaît pas "transparent"  (float pour flotter )*/       
     border-right: 3px solid #F00 ; /* on met une bordure blanche à droite de chaque élément */ 
   }
    /* IE ne reconnaissant pas le sélecteur ">" */
	
	
 html>body #menu li
 
    {       
	   border-right: 3px solid #F00 float ; /* on met une bordure transparente à droite de chaque élément ( utiliser apres transparent) */ 
	}
	
	
#menu li ul /* Sous-listes */
	  {     
	     position: absolute; /* Position absolue */       
		 width: 200px; /* Largeur des sous-listes */      
		  left: -999em; /* on envoie loin du champ de vision */
	  }
	  
	  
#menu li ul li /* Éléments de sous-listes */ 
	  { 
	         /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */        
		 border-top : 1px solid #fff;
		 border-right: 3px solid #F00; /* on met une bordure blanche en haut de chaque élément d'une sous liste */ 
	  } /* IE ne reconnaissant pas le sélecteur ">" */
	  
	  
html>body #menu li ul li           
	    {       
			 border-top : 1px solid float; /* on met une bordure transparente en haut de chaque élément */ 
		}
		
		
#menu li ul ul 
       {     
             margin    : -22px 0 0 144px ; /* On décale les sous-souslistes pour qu'elles ne soient pas au dessus des sous-listes */     
			     /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */      
			  border-left: 1px solid #F00  ; /* Petite bordure à gauche pour ne pas coller ... */     
	    }
			   /* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */
			   
html>body #menu li ul ul             
	    {   
			  border-left: 1px solid float #FF0000  ; /* on met une bordure transparente sur la gauche de chaque élément */
	    }
		
		
#menu a:hover /* Lorsque la souris passe sur un des liens */   
        {       
            color: red; /* On passe le texte en rouge... */      
		    background: #00CCFF; /* ... et au contraire, le fond en bleu */
	    }
		
		
#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */ 
        {        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */
		}
		
		
#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul 
		   /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */ 
		 {        left: auto; /* Repositionnement normal */       
		          min-height: 0; /* Corrige un bug sous IE */ 
		 }
		 
		 
#menu a 
         {
	display : block;
	padding : 0;
	background : #000;
	color: #00CCFF;
	text-decoration : none;
	width : 100%px; /* <<<<<< ICI */
         }
		 
		  
...#menu li ul 
         {        
		          position: absolute;     
	              width: 100%; /* <<<<<< ET ICI */      
		           visibility: hidden; 
		  }
		  
		  
		   
...#menu li ul ul 
         {
                  margin    : -22px 0 0 144px ;      
			      border-left: 1px solid #F00  ; /* <<<<<< sans oublier ICI */ 
		 }
		 
		 
#menu a 
         {
	display : block;
	padding : 0;
	background: #00CCFF; /* Couleur du fond, actuellement = blanc */
	color : #000; /* Couleur du texte, actuellement =noir */
	text-decoration : none;
	width : 144px;
		} /* Inversement des couleurs lorsque la souris passe */ 
		
		
#menu a:hover/*cet objet sert pour le deroulement */ 
       {
	color: #00CCFF ; /* lanc */
	background: #F00; /* bleu*/
	   }

#th{background-attachment:fixed;}

#menu li ul li a
       {         background: #00CCFF url("") repeat ; 
	   }
/*#body
 {
	background-image:url(Fractal_art_creation_Colorful_HD_Wallpaper_2_medium.jpg);
 background-attachment:fixed;
  background-position:inherit;
  }*/
#menu{
	background-attachment:fixed;	}
	#texte{
		text-decoration:blink;
		text-align:center;
		color: #00CCFF;
		}
		#textep{
			color:#000; 
			font-family:Castellar;}
/*#anime{
	color:#FFF;
	font-style:italic;
	}
	#blockimg{
		background-repeat:no-repeat;
		 }*/
#tableau {
	margin:auto;
	}/* permet de centrer le tableau*/

body
{
	background-color: #CCC;
}
header
{
	position: relative;
	width: 900px;
}
#cps
{
	margin-top: 25px;
}
#crps
{
	margin-top: 25px
}

#h2{ 
font-family: castellar;
font-size:45px; background-color: #999;}

#inf{  font-family: Verdana, Geneva; font-size:17px;} 